/*
	IMD generic CSS.
	Create new .css files for other pages, this only styles the header, menu, banner background and footer
	for all pages and does some resets.
*/

/*
	Begin overall styling, applying to all pages
*/

/*
	Fonts
*/
@font-face {
    font-family: "OpenSans Regular";
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Akzidenz Grotesk Light";
    src: url('../fonts/akzidenz-grotesk-light.ttf');
}

/*
	Defines and specific resets
	We don't need to reset everything and only apply margins and padding of everything to 0
*/
* {
	margin:0;
	padding:0;
} /* Removed default margins and padding because they're annoying*/

h1, h2, h3 {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

p {
	margin-top: 0.3em;	
	margin-bottom: 0.3em;	
} /* Added default top-bottom margins and padding again for text-elements */


a {
	text-decoration: none;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }


html, body {
	height: 100%;
} /* Push down the footer if the content is smaller than screen size */


/*
	Banner content, chosen from /js/bannerrotate.js
*/
.banner1 { background-image: url('../img/banner1.png') !important; } 
.banner2 { background-image: url('../img/banner2.jpg') !important; } 
.banner3 { background-image: url('../img/banner3.jpg') !important; } 
.banner4 { background-image: url('../img/banner4.jpg') !important; } 


/*
	Begin styling
*/
body {
	font-family: "Akzidenz Grotesk Light", "Segoe UI";
	background-color: #F0F0F0;
	color: #333;
} 

h1, h2, h3 {
	font-family: "OpenSans Regular", "Helvetica";
}

/*
	Header styling
*/
header {
	/*background-image: url(../img/header-back.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;*/
	/*background: linear-gradient(to right, #C1C1C1, #E6E6E6);*/
	height: 100px;
	background-color: rgb(75,185,255);
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	min-width: 1080px;
}

#header {
	width: 1080px;
	margin: auto;
	height: 100%
}

#header #logofontys {
	top: 50%;
	height: 70px;
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}

#header #logoimd {
	top: 50%;
	height: 70px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

/*
	Menu/Navigation bar
*/
nav {
	background-color: #333;
	width: 100%;
	height: 40px;
	min-width: 1080px;
}

#menu {
	width: 1080px;
	margin: auto;
	text-align: justify;
}

#menu ul {
	list-style-type: none;
}

.menulinks {
	font-family: "OpenSans Regular", "Segoe UI";
	display: table-cell;
	width: 10%; /*20% behaves like 10%, 10% like 20%????????????*/
	line-height: 40px;
	text-align: center;
	white-space: nowrap;
	height: 40px;
}

.menulinks a {
	color: #CCC;
}

#menu li:hover, #menu li:hover a {
	background-color: #CCC;
	color: #333;
}

.active, .active a {
	background-color: #AAA;
	color: #333;
}

/*
	Content-wrapper and content
*/
#wrapper {
	width: 1080px; /*960px + 60px both sides*/
	margin: auto;
	min-height: 100%;
	background-color: #FFF;
	margin-top: 20px;
	box-shadow: 0 0 3px 0px;
}	/* Visual content wrapper */


section {
	clear: both;
	overflow:auto;
	min-height: 100px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}	/* Actual content wrapper*/

/*
	Banner styling
*/
#banner {
	background-image: url(../img/banner1.png); /* Overwritten by js/bannerrotation.js in JS-activated browsers */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 960px;
	height: 120px;
	line-height: 120px;
	margin: auto;
	font-size: 48pt;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	font-weight: normal;
	white-space: nowrap;
	margin-bottom: 24px;
	border-radius: 4px;
}

/*
	Here be footer content
*/
footer {
	/*background-color: #2980B9;*/
	background-color: rgb(50,108,177);
	position: relative;
	margin-top: 20px;
	height: 100px;
	clear:both;
	min-width: 1080px;
}

#footer {
	width: 960px;
	margin: auto;
	color: #FFFFFF;
}

#footer p {
	padding-left: 20px;
	margin: 0;
	float: left;
	line-height: 100px;
}

#social {
	padding-right: 20px;
	float: right;
	line-height: 100px;
	list-style-type: none;
}

#social li {
	display: inline;
}

/*
	index styling
*/

/*
	Wrapper for the small news items
*/
#smallwrapper {
	padding-bottom: 24px;
	display:flex;
	justify-content:space-between;
}

.smallnews {
    vertical-align: top;
	width: 300px;
}

/*
	Any image can be put in smallimg and dynamically resize and vertically center itself
	If the image has a very wide AR this won't work well and the top and bottom are gray
	to keep the blocks visually the same.
*/
.smallimgwrap {
	height: 160px;
	overflow: hidden;
	background-color: #C2C2C2;
}

.smallimg {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    width:100%;
}


/*
	Wrapper for the two big items
*/
.bigwrapper {
	padding-bottom: 24px;
	display:flex;
	justify-content:space-between;
}

.bigtext {
	width: 48%;
}

.bigtext p {
	margin: 0;
	padding: 0;
}

.bigtext h1 {
	margin-top: 0;
}

#bigimg {
	width: 50%;
	height: 280px;
	overflow: hidden;
	background-color: #C2C2C2;
}

#bigimg img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    width:100%;
}

#youtubecontainer {
	width: 480px;
	height: 266px;
}

#youtube {
	width: 480px;
	height: 266px;
	border: 0;
}

/*
	Over de opleiding
*/
.left img {
	width: 100%;
	border-radius: 4px;
}

#overzicht_opleiding {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	background-color: #EEE;
	border-color: #3D3D3D;
}

#overzicht_opleiding td {
	font-family: "OpenSans Regular";
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}

#overzicht_opleiding th {
	font-family: "OpenSans Regular";
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}

#overzicht_opleiding tr {
	text-align:center;
}

.infoblok {
	color: #333;
	background-color: #EEE;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #3D3D3D;
	border-radius: 4px;
}

.infoblok h3 {
	margin-top: 0;
}

.infolist li {
	list-style-type: none;
}

#aanmelden {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 32pt;
	text-align: center;
	background-color: #EEE;
	border-width: 1px;
	border-style: solid;
	border-color: #3D3D3D;
	border-radius: 4px;
}

#aanmelden a {
	color: #333;
}

#aanmelden:hover {
	background-color: #AAA;
}

#aanmelden:hover a {
	color: #333;
}

/*
	Contact page
*/

#contact {
	float: left;
	width: 40%;
}

#mapwrapper{
	float: right;
	width: 50%;
}

.maps {
	width: 100%;
	height: 300px;
	border: 0;
}

/*
	Bezoek page
*/
.horizontal{
	width: 100%;
	height: auto;
	overflow: auto;
	margin-bottom: 40px;
}

.left
{
	width: 60%;
	float: left;
}

.right
{
	width: 35%;
	float: right;
}

.datum {
	color: #333;
	background-color: #EEE;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #3D3D3D;
	border-radius: 4px;
}

.datumtitle
{
	font-weight: bold;
}

.datumtitle td {
	width: 120px;
}

#wrapimages
{
	width: 50%;
	float: right;
}

#wrapimages img
{
	width: 100%;
}


/*
	Responsive!
*/
@media screen and (max-width: 800px) {
	header, footer, nav {
		min-width: 0;
	}
	
	#wrapper, #header, #menu, #footer, #banner, section{
		width: 100%;
	}
	
	#banner, .left img {
		border-radius: 0px;
	}
	
	#banner{
		font-size: 32pt;
	}
	
	#menu ul a{
		font-size: 11pt;
	}
	
	.right, .left {
		display: block;
		width: 100%;
	}
	
	#smallwrapper, .bigwrapper {
		display: block;
	}
	
	.smallnews, #bigimg, .bigtext {
		margin-top: 24px;
		width: 100%;
	}
	
	#youtubecontainer{
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#mapwrapper {
		width: 100%;
	}
	
	#wrapcontentfirst
	{
		width: 100%;
	}
	
	#wrapimages
	{
		width: 100%;
	}
	
	.datum
	{
		margin: auto;
	}
}

@media screen and (max-width: 480px) {
	#banner {
		height: 50px;
		font-size: 20pt;
		line-height: 50px;
		width: 100%;
	}
	
	nav {
		height: auto;
	}
	
	.menulinks {
		text-align: center;
		display: block;
		width: 100%;
		height: 30px;
		line-height: 30px;
	}
	
	#youtubecontainer, #youtube {
		width: 100%;
	}
}
