#contact {
	float: left;
}

#mapwrapper{
	float: right;
	width: 50%;
}

.maps {
	width: 100%;
	height: 300px;
	border: 0;
}

@media screen and (max-width: 800px) {
	#mapwrapper {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {

}