#youtube {
	width: 560px;
	margin: auto;
}

#smallwrapper {
	padding-bottom: 24px;
	display:flex;
	justify-content:space-between;
}

.smallnews {
    vertical-align: top;
	width: 300px;
	text-align: justify;
	whitespace: nowrap;
}

#smallimg2 { background-image: url(../img/placeholder.jpg); }
#smallimg3 { background-image: url(../img/placeholder.jpg); }

.smallimgwrap {
	height: 160px;
	overflow: hidden;
}

.smallimg {
}

#bigwrapper {
	padding-bottom: 24px;
	display:flex;
	justify-content:space-between;
}

#bigtext {
	width: 48%;
	text-align: justify;
}

#bigtext p {
	margin: 0;
	padding: 0;
}

#bigimg {
	background-image: url(../img/placeholderbig.jpg);
	background-position: center center;
	background-size: cover;
	width: 50%;
	height: 280px;
}

#youtubecontainer {
	width: 50%;
	height: auto;
}

#youtube {
	width: 480px;
	height: 266px;
}

/*
	Responsive!
*/

@media screen and (max-width: 1080px) {
	.smallnews {
		width: 30%;
	}
	
}

@media screen and (max-width: 480px) {
	#smallwrapper, #bigwrapper {
		display: block;
	}
	
	.smallnews, #bigimg, #bigtext {
		float: left;
		width: 100%;
	}
	
	
}