#youtube {
	width: 560px;
	margin: auto;
}

#smallwrapper {
	padding-top: 24px;
	display:flex;
	justify-content:space-between;
}

.smallnews {
    vertical-align: top;
	width: 300px;
	text-align: justify;
	whitespace: nowrap;
}

#smallimg1 { background-image: url(../img/placeholder.jpg); }
#smallimg2 { background-image: url(../img/placeholder.jpg); }
#smallimg3 { background-image: url(../img/placeholder.jpg); }

.smallimg {
	background-position: center center;
	background-size: cover;
	height: 160px;
}

#bigwrapper {
	display:flex;
	justify-content:space-between;
}

#bigtext {
	width: 48%;
	text-align: justify;
}

#bigimg {
	background-image: url(../img/placeholderbig.jpg);
	background-position: center center;
	background-size: cover;
	width: 50%;
	height: 280px;
}

/*
	Responsive!
*/

@media screen and (max-width: 960px) {
	#banner{
		width: 100%;
	}
	
	.smallnews {
		width: 30%;
	}
	
}

@media screen and (max-width: 600px) {
	#banner {
		width: 100%;
		height: 50px;
		font-size: 20pt;
		line-height: 50px;
	}
	
	#smallwrapper, #bigwrapper {
		display: block;
	}
	
	.smallnews, #bigimg, #bigtext {
		float: left;
		width: 100%;
	}
	
	
}